<p id="notice"><%= notice %></p>

<p>
  <b>Symbol:</b>
  <%= @trade.symbol %>
</p>

<p>
  <b>Description:</b>
  <%= @trade.description %>
</p>


<%= link_to 'Edit', edit_trade_path(@trade) %> |
<%= link_to 'Back', trades_path %>
